<h2>List of Products</h2>

<table *ngIf="productList">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category_Id</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Image</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product.id}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.product_description}}</td>
            <td>{{product.category_id}}</td>
            <td>{{product.price}}</td>
            <td>{{product.ratings}}</td>
            <td><img width="40px" height="40px" [src]="'../../../../assets/images/' + product.product_img"></td>
        </tr>
    </tbody>
</table>