<div class="header bg-dark">
    <div class="row">
        <div class="brand my-1">
            <h1>ADMIN</h1>
        </div>
        <div class="blank">
        </div>
        <div class="user-container p-0">
            <div class="dropdown user-dropdown">
                <button class="btn btn-secondary dropdown-toggle user-dropdown-button" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <mat-icon>account_circle</mat-icon>Hi Admin
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>